<app-layout title="Todo List" [toolbarButtons]="toolbarButtons">
  <p-toast></p-toast>
  <div class="border-1 surface-border border-round-sm">
    <p-table [loading]="!(todos$ | async)" [value]="(todos$ | async) || []">
      <ng-template pTemplate="body" let-todo>
        <tr app-todo-item [todo]="todo" (stateChanged)="todoStateChanged(todo, $event)"></tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center">No task to do 😄</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</app-layout>
